@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,599;1,599&display=swap");

body {
  background: linear-gradient(
    144.39deg,
    #fff -278.56%,
    #11101d -1000%,
    #11101d 61%
  );
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 599;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  color: white;
}

p {
  margin: 0px;
  padding: 0px;
}

/*root section*/
#root {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*wrap section*/

/*main section*/
.main-section {
  padding: 0px 24px;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
}

.listitems {
  list-style: none;
  display: flex;
  column-gap: 40px;
  margin-right: 40px;
}

.listitems a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-list:hover {
  background: radial-gradient(#5ce1e6 71.54%, #33bbcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*page-section*/
.payment {
  display: flex;
}

.section {
  display: flex;
  padding: 24px 0px;
  align-items: center;
}

.payment-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 1.5rem;
}

.discount-banner {
  display: flex;
  border-radius: 10px;
  margin-bottom: 8px;
  align-items: center;
  background: linear-gradient(144.39deg, #fff -600.56%, #11101d 91.61%);
  padding: 6px 16px;
  column-gap: 10px;
}

.discount-banner p {
  color: white;
  margin: 0px;
}

.payment-banner {
  display: flex;
  align-items: center;
}

.custom-heading {
  font-size: 72px;
  line-height: 100px;
  margin: 0px;
}

.round-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 9999px;
  background: linear-gradient(to right, #0b6dd8, #5ad7f3);
  padding: 2px;
  cursor: pointer;
}

.round-box:hover {
  background: linear-gradient(to right, #5ad7f3);
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f2937;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.custom-get {
  display: flex;
  align-items: center;
}

.gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text {
  font-size: 18px;
  line-height: 23px;
}

.custom-get img {
  width: 23px;
  height: 23px;
}

.description {
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30.8px;
  max-width: 470px;
  margin-top: 1.25rem;
}

.relative-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.relative-image img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

/*feature section*/
.banner {
  padding: 0px 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.content-row {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.75rem;
  width: 415px;
  height: 55px;
}

.section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  margin: 0px;
}

.section-tagline {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 0.75rem;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/*cards section*/

.section-flex {
  display: flex;
  padding: 1.5rem 0px;
}

.flex-container {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.hero-heading {
  font-weight: 600;
  font-size: 47px;
  line-height: 66.8px;
  color: #ffffff;
  width: 100%;
  margin: 0px;
}

.tagline {
  font-weight: 400;
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30.8px;
  max-width: 470px;
  margin-top: 1.25rem;
}

.button {
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  border-radius: 0.375rem;
  margin-top: 2.5rem;
  border: none;
  color: #00040f;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.button:hover {
  background: linear-gradient(
    257.81deg,
    #def9fa -43.27%,
    #9dedf0 12.19%,
    #7de7eb 29.82%
  );
}

.items-banner {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 0;
  margin-top: 2.5rem;
}

.feature-card {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  width: 480px;
}

.feature-card:hover {
  background: linear-gradient(144.39deg, #fff -278.56%, #11101d 110%);
}

.feature-icon {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-text {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
  width: 476px;
  height: 75px;
}

.feature-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0.25rem;
  margin-top: 0px;
}

.feature-description {
  font-weight: 400;
  color: #b0b0b0;
  font-size: 16px;
  line-height: 24px;
}

/*billing section*/

.section-wrapper {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.image-wrapper {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 0;
  margin-top: 2.5rem;
}

.paypal-img {
  width: 600px;
  height: 556px;
  position: relative;
  z-index: 5;
}

.hero-white-gradient {
  position: absolute;
  z-index: 3;
  left: -50%;
  top: 0;
  width: 50%;
  height: 50%;
  border-radius: 9999px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 0%,
    transparent 100%
  );
}

.hero-pink-gradient {
  position: absolute;
  z-index: 0;
  left: -50%;
  bottom: 0;
  width: 50%;
  height: 50%;
  border-radius: 9999px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 150, 0.4) 0%,
    transparent 100%
  );
}

.wrapper-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wrapper-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 66.8px;
  width: 100%;
  margin: 0px;
}

.wrapper-description {
  font-weight: 400;
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30.8px;
  max-width: 470px;
  margin-top: 1.25rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.btn-app {
  width: 128px;
  height: 42px;
  object-fit: contain;
  margin-right: 1.25rem;
  cursor: pointer;
}

.btn-play {
  width: 128px;
  height: 42px;
  object-fit: contain;
  cursor: pointer;
}

/*pay section*/
.pay-method {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pay-box {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pay-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 66.8px;
  width: 100%;
  margin: 0px;
}

.pay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.8px;
  max-width: 470px;
  margin-top: 1.25rem;
  color: #b0b0b0;
}

.pay-button {
  padding: 1rem 1.5rem;
  color: #00040f;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  border-radius: 0.375rem;
  margin-top: 2.5rem;
  border: none;
}

.pay-button:hover {
  background: linear-gradient(
    257.81deg,
    #def9fa -43.27%,
    #9dedf0 12.19%,
    #7de7eb 29.82%
  );
}

.pay-image-container {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 2.5rem;
  position: relative;
}

.pay-image {
  width: 600px;
  height: 520px;
  position: relative;
  z-index: 5;
}

/*reviews section*/
.reviews {
  padding: 1.5rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.reviews-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
}

.reviews-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 66.8px;
  width: 100%;
  margin: 0px;
}

.reviews-description-box {
  width: 100%;
  margin-top: 1.5rem;
}

.reviews-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.8px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 450px;
  text-align: left;
}

.feedback-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  max-width: 450px;
  margin-right: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.feedback-card:hover {
  background: linear-gradient(144.39deg, #fff -278.56%, #11101d 110%);
}

.feedback-img {
  width: 42.6px;
  height: 27.6px;
  object-fit: contain;
}

.feedback-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.herman-feedback {
  display: flex;
  flex-direction: row;
}

.feed-img {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.feedback-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0px;
}

.feedback-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

/*socials section*/
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.socials-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.socials-card {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  margin: 1.25rem;
}

.socials-image {
  width: 170px;
  object-fit: contain;
}

/*services section*/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem 4rem;
  background: linear-gradient(144.39deg, #fff -278.56%, #11101d 110%);
  border-radius: 20px;
}

.service-box {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.service-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 66.8px;
  width: 100%;
  margin: 0px;
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.8px;
  color: #b0b0b0;
  max-width: 470px;
  margin-top: 1.25rem;
}

.services-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-top: 2.5rem;
}

.service-btn {
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #00040f;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  outline: none;
  border-radius: 0.375rem;
  border: none;
}

.service-btn:hover {
  background: linear-gradient(
    257.81deg,
    #def9fa -43.27%,
    #9dedf0 12.19%,
    #7de7eb 29.82%
  );
}

/*footer-section*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0px;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-description {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 2.5rem;
}

.footer-image {
  width: 266px;
  height: 72.14px;
  object-fit: contain;
}

.footer-tagline {
  font-weight: 400;
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30.8px;
  margin-top: 1rem;
  max-width: 312px;
}

.social-links {
  flex: 1.5 1.5 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 150px;
}

.links-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0px;
}

.links-list {
  list-style: none;
  margin-top: 1rem;
  padding-left: 0px;
  color: #b0b0b0;
}

.footer-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.footer-list:hover {
  background: radial-gradient(#5ce1e6 71.54%, #33bbcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  border-top-width: 1px;
  border-top-color: #3f3e45;
  border-top-style: solid;
}

.copyright-tagline {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

.copyright-socials {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.copyright-icon {
  width: 21px;
  height: 21px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 1.5rem;
}
